@import '@datatr-ux/ods-tailwind-config/style.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --sidebar-background: theme(colors.white);
    --sidebar-foreground: theme(colors.text.DEFAULT);
    --sidebar-primary: theme(colors.primary.DEFAULT);
    --sidebar-primary-foreground: theme(colors.white);
    --sidebar-accent: theme(colors.primary.50);
    --sidebar-accent-foreground: theme(colors.text.DEFAULT);
    --sidebar-border: theme(colors.neutral.100);
    --sidebar-ring: var(--ods-outline-color-default);
    --background: theme(colors.white);
    --foreground: theme(colors.text.DEFAULT);
    --card: theme(colors.white);
    --card-foreground: theme(colors.text.DEFAULT);
    --popover: theme(colors.white);
    --popover-foreground: theme(colors.text.DEFAULT);
    --primary-foreground: theme(colors.white);
    --secondary: theme(colors.neutral.50);
    --secondary-foreground: theme(colors.neutral.500);
    --muted: theme(colors.neutral.50);
    --muted-foreground: theme(colors.neutral.500);
    --accent: theme(colors.primary.50);
    --accent-foreground: theme(colors.text.DEFAULT);
    --destructive: theme(colors.red.400);
    --destructive-foreground: theme(colors.white);
    --border: theme(colors.neutral.100);
    --input: theme(colors.neutral.100);
    --ring: var(--ods-outline-color-default);
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%}
  .dark {
    --sidebar-background: theme(colors.gray.800);
    --sidebar-foreground: theme(colors.white);
    --sidebar-primary: theme(colors.primary.DEFAULT);
    --sidebar-primary-foreground: theme(colors.white);
    --sidebar-accent: theme(colors.primary.50);
    --sidebar-accent-foreground: theme(colors.text.DEFAULT);
    --sidebar-border: theme(colors.neutral.100);
    --sidebar-ring: var(--ods-outline-color-default);
    --background: theme(colors.gray.800);
    --foreground: theme(colors.white);
    --card: theme(colors.gray.800);
    --card-foreground: theme(colors.white);
    --popover: theme(colors.gray.800);
    --popover-foreground: theme(colors.white);
    --primary-foreground: theme(colors.white);
    --secondary: theme(colors.neutral.50);
    --secondary-foreground: theme(colors.neutral.500);
    --muted: theme(colors.neutral.50);
    --muted-foreground: theme(colors.neutral.300);
    --accent: theme(colors.primary.50);
    --accent-foreground: theme(colors.text.DEFAULT);
    --destructive: theme(colors.red.400);
    --destructive-foreground: theme(colors.white);
    --border: theme(colors.neutral.600);
    --input: theme(colors.neutral.100);
    --ring: var(--ods-outline-color-default);
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%
  }
  .dark h1,
  .dark h2,
  .dark h3,
  .dark h4,
  .dark h5,
  .dark h6,
  .dark body {
    @apply text-white;
  }

  *,
  *::before,
  *::after {
    border-color: var(--border);
  }
}